    html,
    body,
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Nunito", sans-serif;
    }
    
     :root {
        --primary-blue: #0a7f89;
        --secondary-blue: #086169;
        --primary-red: #F23A4B;
        --black: #242424;
    }
    
    body {
        background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)), url(img/mesh-gradient.png);
        background-repeat: no-repeat;
    }
    
    ul {
        list-style: none;
        display: flex;
    }
    
    a {
        text-decoration: none;
    }
    
    button {
        border: none;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .main-content {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        margin-bottom: 100px;
    }
    
    .header {
        padding: 16px 0;
        background-color: var(--black);
        color: aliceblue;
        position: fixed;
        width: 100%;
    }
    
    .header a {
        color: aliceblue;
    }
    
    .header-nav {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header-logo {
        font-size: 40px;
        font-family: "Bebas Neue", sans-serif;
        margin-right: 30px;
        color: var(--primary-red);
    }
    
    .course-name {
        font-size: 40px;
        font-family: "Bebas Neue", sans-serif;
    }
    
    .header-icons li {
        margin: 0 10px;
    }
    
    .header-icons li i {
        font-size: 20px;
    }
    
    .edu-resource {
        max-width: 750px;
        margin-bottom: 20px;
    }
    
    #iframe1 {
        width: 100%;
        height: 400px;
        border-radius: 20px;
        border: 1px solid var(--primary-red);
    }
    
    .overview {
        width: 750px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    
    .tabs {
        display: flex;
        height: 80px;
        margin-bottom: 20px;
    }
    
    .tab {
        width: 100%;
        background-color: var(--primary-blue);
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }
    
    .tab:hover {
        background-color: var(--secondary-blue);
    }
    
    .pages {
        width: 100%;
    }
    
    .course-info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        background-color: #ffffff4c;
        border-radius: 20px;
        padding: 20px;
    }
    
    .page1-btns button {
        border: none;
        background-color: var(--primary-blue);
        padding: 10px 20px;
        font-size: 15px;
        color: #fff;
        border-radius: 10px;
    }
    
    .page1-btns button:hover {
        background-color: var(--secondary-blue);
    }
    
    #notes {
        width: 100%;
        height: 250px;
        padding: 10px;
        border: 1px solid var(--primary-red);
        border-radius: 20px;
        background-color: #fff;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 16px;
    }
    
    #notesBtn {
        width: 250px;
        height: 50px;
        background-color: var(--primary-red);
        color: #fff;
        border-radius: 20px;
        font-size: 20px;
        padding: 10px;
    }
    
    .ai-chat {
        background-color: #ffffff4c;
        height: 300px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        padding: 18px;
    }
    
    .ask-ai {
        margin: 10px;
    }
    
    .ask-ai button {
        border: none;
        background-color: #fff;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 10px;
    }
    
    .ask-ai input {
        width: 500px;
        border: none;
        background-color: #fff;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 10px;
    }
    
    .faq {
        flex-direction: column;
    }
    
    .faq>div {
        height: 55px;
        padding: 10px 20px;
        margin-bottom: 10px;
        justify-content: space-between;
        display: flex;
        background-color: #fff;
        border-radius: 15px;
    }
    
    .faq span {
        display: block;
        cursor: pointer;
    }
    
    .lesson-content {
        width: 360px;
        height: auto;
        padding: 15px;
    }
    
    .lesson-content p {
        color: #002018;
        font-size: 20px;
        font-weight: 600;
    }
    
    .start-quizz button {
        font-size: 30px;
        color: var(--primary-blue);
        padding: 7px 15px;
        border: none;
        border-radius: 10px;
    }
    
    .fa-arrow-right {
        color: var(--secondary-blue);
        padding: 10px 5px 5px 10px;
    }
    
    .start-quizz button:hover {
        background-color: var(--secondary-blue);
        color: #fff;
    }
    
    .lesson-content>div {
        display: flex;
        justify-content: space-between;
    }
    
    .lesson-content i {
        color: var(--primary-red);
        font-size: 30px;
    }
    
    .lesson-content-list {
        flex-direction: column;
    }
    
    .lesson-content-list li {
        background-color: var(--primary-blue);
        margin: 8px 0;
        min-height: 50px;
        padding: 10px 10px 20px 10px;
        color: #fff;
        border-radius: 15px;
        font-family: "Nunito", sans-serif;
    }
    
    .lesson-content-list li input {
        margin: 5px 10px 5px 5px;
    }
    /* 
input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    appearance: none;
    border-radius: 5px;
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

input[type="checkbox"]:checked:before {
    background-color: var(--dark-blue);
    border-color: #007bff;
} */
    
    .contact-telegram {
        left: 50px;
        bottom: 100px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        position: fixed;
        justify-content: center;
        box-shadow: 0 0 10px 1px #fff;
    }
    
    .contact-telegram a i {
        font-size: 60px;
        color: var(--black);
    }
    
    .footer {
        background-color: var(--black);
        width: 100%;
        bottom: 0;
    }
    
    .footer-container {
        padding: 50px;
    }